<!DOCTYPE html>
<html>
    <head>
        <title>Chroma Connector Map</title>
        <link rel="image_src" type="image/png" href="{{image_url|safe}}" />
        <meta property="og:image" content="{{image_url|safe}}" />
        <meta property="og:title" content="Introspective Self-Aware Amoebic Chroma Connections Map" />
        <style type="text/css">
            svg {
                border: 1px solid #777;
                border-radius: 7px;
            }
            
            .territory {
                stroke: #ccc;
                stroke-width: 1.5px;
            }

            .connection {
                stroke: #888;
                stroke-opacity: .7;
            }
        </style>
        <script src="{{jq_url}}" type="text/javascript"></script>
        <script src="{{d3_url}}" type="text/javascript"></script>
    </head>
    <body>
        <h1>Introspective Self-Aware Amoebic Chroma Connections Map (ISAAC C.M.)</h1>
        <div id="map">
        </div>
        <script src="/static/maps/connector.js" type="text/javascript"></script>
        <input type="button" onclick="byAffiliation();" value="Color by current ownership" />
        <input type="button" onclick="byContinent();" value="Color by reset state" />
    </body>
</html>
