<!DOCTYPE html>
<html>
    <head>
        <title>Home | ChromanNet</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Links</h1>
        <h3><a href="/maps/connector">Connections Map</a></h3>

        <h1>Announcements</h1>
        <p>
            More stuff will go here eventually, but I just made this today, so it might be a while.
        </p>
		{% if heroku %}
		<script src="{{ga_setup_url}}" type="text/javascript"></script>
		{% endif %}
    </body>
</html>
