<!DOCTYPE html>
<html>
    <head>
        <title>Home | Periwinkle.fert</title>
		{# {% if production %}
		<script src="{{ga_setup_url}}" type="text/javascript"></script>
		{% endif %} #}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53109952-1', 'auto');
  ga('send', 'pageview');
</script>
    </head>
    <body>
        <h1>Links</h1>
        <h3><a href="/maps/connector">Connections Map</a></h3>

        <h1>Announcements</h1>
        <p>
            More stuff will go here eventually, but I just made this today, so it might be a while.
        </p>
    </body>
</html>
